 html {
     scroll-behavior: smooth;
 }
body {
    font-family: 'Sree Krushnadevaraya', serif;
}

.home {
    background-image: url(../assets/backgrounds/home_image.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 30%;
}

.about-us {
    text-align: center;
    font-size: 15px;

}

.services {
    text-align: center;
    background-image: url(../assets/backgrounds/mac.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-size: 18px;
    padding: 10px;
}
.what-we-do {
    text-align: center;
}

.portfolio h3 {
    text-align: center;
    padding-top: 40px;
}

#portfolio-rows {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 6%;
    margin-right: 10%;
}

.col-md-3 img {
    max-width: 100%;
    max-height: 100%;
    margin: 20px;
}








