 html {
     scroll-behavior: smooth;
 }
body {
    font-family: 'Sree Krushnadevaraya', serif;
}

.home {
    background-image: url(../assets/backgrounds/home_image.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 30%;
}

.about-us {
    text-align: center;
    font-size: 15px;

}

.services {
    text-align: center;
    background-image: url(../assets/backgrounds/mac.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    font-size: 18px;
    
}