 html {
     scroll-behavior: smooth;
 }
body {
    font-family: 'Playfair Display', serif;

}

.home {
    background-image: url(../assets/backgrounds/home_image.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-top: 53%;
}